body {
	width: 100vw;
	height: 100vh;
}

* {
	box-sizing: border-box;
}

#root {
	height: 100%;
}

.App {
	height: 100%;
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.content > div {
	padding: 20px;
}

.date {
	border: 1px solid black;
	border-radius: 5px;
}